@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


/*  -- GENERAL -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 1%;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-shadow: 2.3px 0px 0px rgb(211, 57, 139);
    color: rgb(79, 79, 82);
    letter-spacing: 1px;
}
html {
    font-size: 62.5%;
}
header{
    background-color: #666666;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
span{
    font-size: 12px;
}

/*  -- NAV BAR -- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 2rem;
}
.nav-link{
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
}
.nav-link:hover{
    color: #482ff7;
}
.nav-logo {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-link{
        color: black;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*  -- CART -- */

.cartItem{
    margin: 0 auto;
    width: 600px;
    border-bottom: 1px solid rgb(37, 37, 218);
    padding: 2%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.cartDetail{
    display: flex;
    align-items: center;
}
.cartImg{
    height: 20vh;
    margin: 2%;
}
.cartTitle{
    text-align: left;
}
.cartInfo{
    display: flex;
    margin: 3%;
    justify-content: space-around;
}
.cartCross{
    color: rgb(196, 36, 156);
    margin-left: 5%;
    float: right;
    cursor: pointer;
}
.totalPrice{
    text-align: right;
    margin-right: 28%;
}
.totalPriceNumber{
    font-size: 20px;
    padding-top: 3%;
}
.backToHome{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.backToHomeButton{
    font-size: 15px;
    padding: 6px 12px;
    background-color: honeydew;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.backToHomeButton:hover{
    background-color: #555555;
    color: white;
}
.cartButtonContainer{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.cartButton{
    margin: 2%;
    font-size: 15px;
}
.cartButtonFinish{
    color: white;
    background-color: rgb(196, 36, 156) ;
    border: rgb(196, 36, 156);
}
.cartButtonFinish:hover{
    color: white;
    background-color: rgb(177, 49, 145) ;
    border: rgb(177, 49, 145);
}

/*  -- ITEM -- */

.card{
    margin:5%;
    text-align:center;
    font-size: 12px;
    transition: transform .2s;
    background-color: honeydew;
}
.card:hover{
    transform: scale(1.1);
}
.cardBody{
    padding: 2rem;
}
.cardImage{
    width:35%;
    display:block;
    padding-top: 2rem;
    margin: auto;
}
.cardTitle{
    font-size: 15px;
}
.cardPrice{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 3%;
}
.cardButton{
    font-size: 15px;
    padding: 6px 12px;
    margin: 5%;
    background-color: honeydew;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.cardButton:hover {
    background-color: #555555;
    color: white;
}

/*  -- ITEM DETAIL-- */

.details{
    text-align:center;
    height: 100%;
}
.itemDescription{
    font-size: 15px;
}
.detailsPrice{
    font-size:20px;
    font-weight:bold;
}

/*  -- ITEM COUNT-- */

.counterContainerStyle{
    font-size:18px;
    text-align:center;
    margin: 3%;
    padding: 1%;
}
.counterStyle{
    display: flex;
    justify-content:center;
    align-items:baseline;
}
.quantitySytle{
    width: 10%;
}
.addToCart{
    font-size: 15px;
}
.finishBuying{
    margin: 2%;
}
.finishBuyingButton{
    font-size: 15px;
    padding: 6px 12px;
    background-color: honeydew;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.finishBuyingButton:hover{
    background-color: #555555;
    color: white;
}

/*  -- HOME-- */

.carousel{
    margin-top: 1%;
    margin-bottom: 1%;
}
.paymentInfo{
    width: 90%;
    display: flex;
    justify-content: center;
}

/*  -- PAYMENT METHODS  --  */

.paymentMethods{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paymentMethods img{
    height: 30px;
}
.paymentMethods p{
    font-size: 12px;
}

/*  -- FOOTER-- */

.social-footer {
    background: #3f3f3f;
    display: flex;
    align-items: center;
}
.logoFooter{
    width: 40%;
}
.menuSimple{
    display: flex;
}
.footerSocialMediaIcon{
    margin-right: 50%;
}
.socialMediaIcon{
    font-size: 2.5rem;
    color: #fefefe;
    padding: 3%;
}
.socialMediaIcon:hover {
color: #c04cad;
transition: color 0.3s ease-in;
}
.footerCopyright{
    display: flex;
    margin-left: 40%;
    font-size: 1rem;
    color: rgb(255, 205, 240);
}

/*  --  CART WIDGET  --  */

.cartWidgetContainer{
    display: flex;
}
.cartIcon{
    font-size: 35px;
}
.cartItemAmount{
    font-size: 20px;
}

/*  --  ABOUT US  --  */

.phraseBox{
    border: 1px solid rgba(16, 16, 240, 0.774);
    padding: 2rem;
    width: 50%;
    margin: auto;
    background-color: rgba(16, 16, 240, 0.774);
    box-shadow: -7px -7px 0px -2px rgba(240, 50, 208, 0.904);
        -webkit-box-shadow: -7px -7px 0px -2px rgba(240, 50, 208, 0.904);
        -moz-box-shadow: -7px -7px 0px -2px rgba(240, 50, 208, 0.904);
    background-image: url("https://res.cloudinary.com/dus99ir1n/image/upload/c_scale,w_230/v1636299613/GlanGlow/arnold-schwarzenegger_yju0bz.png");
    background-repeat: no-repeat;
    transform: rotate(2deg);
}
.phrase{
    margin-left: 20rem;
}
.sign{
    font-family: 'Beth Ellen', cursive;
    text-align: right;
}

.textBox{
    padding: 3%;
    font-size: 18px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.bg{
    background-color: rgba(255, 235, 205, 0.932);
    padding: 2%;
    width: 80%;
    margin: auto;
}
.textBox--wImage{
    display: flex;
    align-items: center;
}
.textBox--wImage img{
    margin: 1%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info--title{
    font-size: 22px;
}
.shipping{
    width: 38%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.shippingIcon{
    color: green;
    font-size: 25px;
    margin: 1%;
}

/*  --  CHECKOUT  --  */
.checkout{
    font-size: 15px;
}
.payment{
    margin: 2%;
    width: 90%;
    display: flex;
    justify-content: center;
}